*{box-sizing: border-box; margin: 0; padding: 0;}
img{
    width: 100%;
    animation-name: rotatePic;
    animation-duration: 2s;
    cursor: pointer;
}
@keyframes  rotatePic{

    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}

    
}
.container{
   margin-top: 10rem;
    height: 100vh;

}
@media (max-width: 767px){
    .container{
        margin: 0;
    }
}
body{
    background-color: black;
}
.container{
height: 100vh;
display: flex;
justify-content: center;
align-items: center;

}

.card{
    padding: 1rem;
    background-image: radial-gradient(rgb(180,155,243),rgb(102,20,146));
    box-shadow: 0 0 10px .5px  black;
    transition:scale 0.2s ;
}
.card p{
    text-align: justify;

}
.card h3{
    font-variant: small-caps;
}
.card a{
    background-color: blueviolet;
    color: white;
    padding: .3rem 1rem; 
    display: inline-block;
    width: 6rem;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}
.card:hover{
    scale: 1.02;

}
.card a:active{
    box-shadow: 2px 2px 10px 1px #fff;
}





.card p::first-letter{
    
    font-weight: bold;
    font-size: 2rem;
    color: hsl(342, 87%, 33%);
    font-style: italic;
}